abaevTEI.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:rng="http://relaxng.org/ns/structure/1.0"><teiHeader><fileDesc><titleStmt><title>TEI for Abaev</title><author>generated by Roma 5.0.1</author></titleStmt>
    <publicationStmt>
        <p>for use by whoever wants it</p>
    </publicationStmt><notesStmt><note type="ns">http://ossetic-studies.org/ns/abaevdict</note></notesStmt><sourceDesc><p>created on Wednesday 06th January 2021 01:42:50 PM</p></sourceDesc></fileDesc></teiHeader><text><front><divGen type="toc"/></front><body><p>My TEI Customization&#xD;
        starts with modules tei, core, textstructure and header</p>
            <schemaSpec ident="abaevTEI" docLang="en" prefix="tei_" xml:lang="en">
                <moduleRef key="core" except=""/>
                <moduleRef key="tei" except=""/>
                <moduleRef key="header" except=""/>
                <moduleRef key="textstructure" except=""/>
                <moduleRef key="dictionaries" except=""/>
                <moduleRef key="figures" except=""/>
                <moduleRef key="linking"/>
                <moduleRef key="analysis" include="w m c cl phr s"/>
                <moduleRef key="certainty"/>
                <classSpec module="tei" type="atts" ident="att.global" mode="change">
                    <attList>
                        <!--                <attDef ident="xml:lang" mode="change">
                    <valList type="semi" mode="replace">
                        <valItem ident="ady-x-abadz"><gloss>абадз. / Abadzekh Adyghe</gloss></valItem>
                        <valItem ident="abq"><gloss>абаз. / Abaza</gloss></valItem>
                        <valItem ident="ab"><gloss>аб. / Abkhaz</gloss></valItem>
                        <valItem ident="os"><gloss>ос. / Ossetic</gloss></valItem>
                        <valItem ident="os-x-iron"><gloss>и. / Iron Ossetic</gloss></valItem>
                        <valItem ident="os-x-digor"><gloss>д. / Digor Ossetic</gloss></valItem>            
                        <valItem ident="os-x-south"><gloss>ю. / South Ossetic</gloss></valItem>                                   
                        <valItem ident="ru"><gloss>рус. / Russian</gloss></valItem>
                        <valItem ident="en"><gloss>англ. / English</gloss></valItem>
                    </valList>
                </attDef>-->
                        <attDef ident="dialect" mode="add">
                            <datatype minOccurs="1" maxOccurs="unbounded">
                                <dataRef name="language"/>
                            </datatype>
                        </attDef>
                    </attList>
                </classSpec>
                
                <elementSpec module="dictionaries" ident="entry" mode="change">
                    <!--            <content>
                <sequence>
                    <elementRef key="certainty" minOccurs="0" maxOccurs="1"/>
                    <elementRef key="form" minOccurs="1" maxOccurs="2"/>
<!-\-                    <elementRef key="lang" minOccurs="0" maxOccurs="1"/>-\->
                    <elementRef key="sense" minOccurs="1" maxOccurs="unbounded"/>
                    <elementRef key="re" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="cit" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="re" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="cit" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="etym" minOccurs="0" maxOccurs="2"/>
                    <elementRef key="note" minOccurs="0" maxOccurs="2"/>
                    <elementRef key="xr" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </content>-->
                    <constraintSpec ident="form-type" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:entry/tei:form[1]">
                                <sch:assert test="@type = 'lemma'">The first form must have the type
                                    'lemma' (headword).</sch:assert>
                            </sch:rule>
                            <sch:rule context="tei:entry/tei:form[2]">
                                <sch:assert test="@xml:lang = 'os-x-digor'">The second form may only
                                    be the Digor form.</sch:assert>
                                <sch:assert test="@type = 'dialectal'">The second form must be a
                                    dialectal variant.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                    <constraintSpec ident="note-type" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:entry/tei:note[preceding-sibling::tei:etym]">
                                <sch:assert test="@type = 'internal'">Internal note should follow
                                    etymology.</sch:assert>
                            </sch:rule>
                            <sch:rule context="tei:entry/tei:note[following-sibling::tei:etym]">
                                <sch:assert test="@type = 'comment'">Entry comments should precede
                                    etymology.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                    <constraintSpec ident="cit-type" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:entry/tei:cit">
                                <sch:assert test="@type = 'exampleGroup'">A 'cit' element inside
                                    'entry' should be of type 'exampleGroup'.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                <!--        <elementSpec module="linking" ident="seg" mode="change">
            <attList>
                <attDef ident="type" mode="change" usage="req">
                    <valList type="closed" mode="replace">
                        <valItem ident="exGrp"><gloss>Example group</gloss></valItem>
                    </valList>
                </attDef>
            </attList>
        </elementSpec>-->
                <!--        <elementSpec module="dictionaries" ident="lang" mode="change">
            <attList>
                <attDef ident="xml:lang" mode="change" usage="req">
                    <valList type="closed" mode="replace">
                        <valItem ident="ru"><gloss>рус. / Russian</gloss></valItem>
                        <valItem ident="en"><gloss>англ. / English</gloss></valItem>
                    </valList>
                </attDef>
            </attList>            
        </elementSpec>  -->
                <elementSpec module="core" ident="cit" mode="change">
                    <constraintSpec ident="tr-ru-eng" scheme="schematron">
                        <constraint>
                            <sch:rule context=".[@type = 'translation']">
                                <sch:assert test="(@xml:lang = 'ru') or (@xml:lang = 'en')"
                                    >Translation must be in Russian (xml:lang = ru) or English
                                    (xml:lang = en).</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="type" mode="replace" usage="req">
                            <valList type="closed" mode="replace">
                                <valItem ident="translation">
                                    <desc xml:lang="en">Translation of a usage example of a lexeme
                                        or word form.</desc>
                                    <desc xml:lang="ru">Перевод примера употребления лексемы или
                                        формы.</desc>
                                </valItem>
                                <valItem ident="example">
                                    <desc xml:lang="en">Example of the usage of an
                                        expression.</desc>
                                    <desc xml:lang="ru">Пример употребления выражения.</desc>
                                </valItem>
                                <valItem ident="exampleGroup">
                                    <desc xml:lang="en">Group of examples in a dictionary
                                        entry.</desc>
                                    <desc xml:lang="ru">Группа примеров в словарной статье.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <!--        <elementSpec module="core" ident="bibl" mode="change">
            <attList>
                <attDef ident="corresp" mode="change">
                    <valList type="semi" mode="replace">
                        <valItem ident="src_AK"/>
                        <valItem ident="src_Аргъ."/>
                        <valItem ident="src_Arsen"/>
                        <valItem ident="src_Æfx. Xæs."/>
                        <valItem ident="src_Ӕмб."/>
                        <valItem ident="src_Bar."/>
                        <valItem ident="src_Bes."/>
                        <valItem ident="src_Bes. Ka ke"/>
                        <valItem ident="src_Брит."/>
                        <valItem ident="src_Čerm."/>
                        <valItem ident="src_Christ."/>
                        <valItem ident="src_Comaq"/>
                        <valItem ident="src_Диг. сказ."/>
                        <valItem ident="src_F."/>
                        <valItem ident="src_FS"/>
                        <valItem ident="src_Gurdž. Æduli"/>
                        <valItem ident="src_Gurdž. Saxi ræs."/>
                        <valItem ident="src_Gurdž. Wadž."/>
                        <valItem ident="src_Iræf"/>
                        <valItem ident="src_Kæfq."/>
                        <valItem ident="src_Коста"/>
                        <valItem ident="src_LQ"/>
                        <valItem ident="src_MD"/>
                        <valItem ident="src_MSt."/>
                        <valItem ident="src_%sMunk.%s"/>
                        <valItem ident="src_Нарт. сказ."/>
                        <valItem ident="src_%sNiger%s"/>
                        <valItem ident="src_ОТ"/>
                        <valItem ident="src_ОЭ"/>
                        <valItem ident="src_ОЭп."/>
                        <valItem ident="src_ОЯФ I"/>
                        <valItem ident="src_%sPuškin%s. Arhau"/>
                        <valItem ident="src_Qazaq"/>
                        <valItem ident="src_%sQazb.%s"/>
                        <valItem ident="src_%sQirǧ.%s"/>
                        <valItem ident="src_%sSam.%s"/>
                        <valItem ident="src_SD"/>
                        <valItem ident="src_СД"/>
                        <valItem ident="src_%sСека%s"/>
                        <valItem ident="src_%sСека%s. Ир. фийау"/>
                        <valItem ident="src_Сл."/>
                        <valItem ident="src_СОПам."/>
                        <valItem ident="src_%sSozur%s"/>
                        <valItem ident="src_%sТайм.%s Ӕмдз."/>
                        <valItem ident="src_%sТайм.%s Мӕ зӕрд."/>
                        <valItem ident="src_%sTujǧ.%s"/>
                        <valItem ident="src_Хаджи-Мурат"/>
                        <valItem ident="src_%sХар.%s Кадӕг"/>
                        <valItem ident="src_%sXar.%s Zærdæ"/>
                        <valItem ident="src_Хрест."/>
                        <valItem ident="src_ЮОПам."/>
                        <valItem ident="src_Лука"/>
                        <valItem ident="src_Матфей"/>
                        <valItem ident="src_Марк"/>
                        <valItem ident="src_Иоанн"/>                        
                    </valList>
                </attDef>
            </attList>
        </elementSpec>-->
            </schemaSpec></body></text></TEI>