abaevTEI.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" xmlns:abv="http://ossetic-studies.org/ns/abaevdict" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:rng="http://relaxng.org/ns/structure/1.0"><teiHeader><fileDesc><titleStmt><title>TEI for Abaev</title><author>generated by Roma 5.0.1</author></titleStmt>
    <publicationStmt>
        <p>for use by whoever wants it</p>
    </publicationStmt><notesStmt><note type="ns">http://ossetic-studies.org/ns/abaevdict</note></notesStmt><sourceDesc><p>created on Wednesday 06th January 2021 01:42:50 PM</p></sourceDesc></fileDesc></teiHeader><text><front><divGen type="toc"/></front><body><p>My TEI Customization&#xD;
        starts with modules tei, core, textstructure and header</p>
            <schemaSpec ident="abaevTEI" docLang="en" prefix="tei_" xml:lang="en" defaultExceptions="http://www.tei-c.org/ns/1.0 teix:egXML http://ossetic-studies.org/ns/abaevdict">
                <moduleRef key="core" except=""/>
                <moduleRef key="tei" except=""/>
                <classSpec module="tei" type="atts" ident="att.global.responsibility" mode="change">
                    <attList>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" type="atts" ident="att.datcat" mode="change">
                    <attList>
                        <attDef ident="datcat" mode="delete"/>
                        <attDef ident="valueDatcat" mode="delete"/>
                    </attList>
                </classSpec>                
                <moduleRef key="header" except=""/>
                <moduleRef key="textstructure" except=""/>
                <moduleRef key="dictionaries" except=""/>
                <classSpec module="dictionaries" type="atts" ident="att.lexicographic" mode="change">
                    <attList>
<!--                        <attDef ident="expand" mode="delete"/>-->
                        <attDef ident="split" mode="delete"/>
                        <attDef ident="value" mode="delete"/>
                        <attDef ident="location" mode="delete"/>
                        <attDef ident="mergedIn" mode="delete"/>
                        <attDef ident="opt" mode="delete"/>
                    </attList>
                </classSpec>                
                <moduleRef key="figures" except=""/>
                <moduleRef key="linking"/>
                <classSpec module="linking" type="atts" ident="att.global.linking" mode="change">
                    <attList>
                        <attDef ident="synch" mode="delete"/>
                        <!--<attDef ident="sameAs" mode="delete"/>-->
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                    </attList>
                </classSpec>
                <moduleRef key="analysis" include="w m c cl phr s pc"/>
                <classSpec module="analysis" type="atts" ident="att.global.analytic" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                    </attList>
                </classSpec>
                
<!--                <moduleRef key="certainty"/>-->
                <classSpec module="tei" type="atts" ident="att.global" mode="change">
                    <classes mode="change">
                        <!--<memberOf mode="delete" key="att.global.linking"/>-->
                        <memberOf mode="delete" key="att.global.rendition"/>
                    </classes>
                    <constraintSpec ident="lang-not-empty" scheme="schematron">
                        <constraint><sch:rule context="@xml:lang">
                                <sch:assert test="string(.) != ''" role="warning">Language may not be empty.</sch:assert>
                            </sch:rule></constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="xml:lang" mode="change">
                            <valList type="semi" mode="replace">
                                <valItem ident="ady-x-abadz">
                                    <gloss>абадз. / Abzakh</gloss>
                                </valItem>
                                <valItem ident="abq">
                                    <gloss>абаз. / Abaza</gloss>
                                </valItem>
                                <valItem ident="ab">
                                    <gloss>абх. / Abkhaz</gloss>
                                </valItem>
                                <valItem ident="ae">
                                    <gloss>ав. / Avestan</gloss>
                                </valItem>
                                <valItem ident="av">
                                    <gloss>авар. / Avar</gloss>
                                </valItem>
                                <valItem ident="agx">
                                    <gloss>агул. / Aghul</gloss>
                                </valItem>
                                <valItem ident="ady">
                                    <gloss>адыг. / Adyghe</gloss>
                                </valItem>
                                <valItem ident="aze">
                                    <gloss>азерб. / Azerbaijani</gloss>
                                </valItem>
                                <valItem ident="akk">
                                    <gloss>аккад. / Akkadian</gloss>
                                </valItem>
                                <valItem ident="dar-x-aqusha">
                                    <gloss>акуш. / Aqusha Dargwa</gloss>
                                </valItem>
                                <valItem ident="xln">
                                    <gloss>алан. / Alanic</gloss>
                                </valItem>
                                <valItem ident="sqj">
                                    <gloss>алб. / Albanian</gloss>
                                </valItem>
                                <valItem ident="alt">
                                    <gloss>алт. / Altai</gloss>
                                </valItem>
                                <valItem ident="tr-x-anat">
                                    <gloss>анат. / Anatolian Turkish</gloss>
                                </valItem>
                                <valItem ident="en">
                                    <gloss>англ. / English</gloss>
                                </valItem>
                                <valItem ident="ang">
                                    <gloss>англос. / Old English</gloss>
                                </valItem>
                                <valItem ident="ani">
                                    <gloss>анд. / Andi</gloss>
                                </valItem>
                                <valItem ident="iir">
                                    <gloss>ар. / Proto-Indo-Iranian</gloss>
                                </valItem>
                                <!-- Check this-->
                                <valItem ident="ar">
                                    <gloss>араб. / Arabic</gloss>
                                </valItem>
                                <valItem ident="arc">
                                    <gloss>арам. / Aramaic</gloss>
                                </valItem>
                                <valItem ident="xcl">
                                    <gloss>арм. / (Classical) Armenian</gloss>
                                </valItem>
                                <valItem ident="aqc">
                                    <gloss>арчин. / Archi</gloss>
                                </valItem>
                                <valItem ident="aii">
                                    <gloss>ассир. / Assyrian</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="ps">
                                    <gloss>афг. / Pashto</gloss>
                                </valItem>
                                <valItem ident="krc-x-balkar">
                                    <gloss>балк. / Balkar</gloss>
                                </valItem>
                                <valItem ident="eu">
                                    <gloss>баск. / Basque</gloss>
                                </valItem>
                                <valItem ident="ba">
                                    <gloss>башк. / Bashkir</gloss>
                                </valItem>
                                <valItem ident="x-balochi">
                                    <gloss>бел. / Balochi</gloss>
                                </valItem>
                                <valItem ident="be">
                                    <gloss>белорусс. / Belarusian</gloss>
                                </valItem>
                                <valItem ident="bg">
                                    <gloss>болг. / Bulgarian</gloss>
                                </valItem>
                                <valItem ident="br">
                                    <gloss>брет. / Breton</gloss>
                                </valItem>
                                <valItem ident="bdk">
                                    <gloss>будух. / Budugh</gloss>
                                </valItem>
                                <valItem ident="xbo">
                                    <gloss>булг. / Bulgar</gloss>
                                </valItem>
                                <valItem ident="bua">
                                    <gloss>(монг.) бурят. / Buryat</gloss>
                                </valItem>
                                <valItem ident="sa-vaidika">
                                    <gloss>вед. / Vedic</gloss>
                                </valItem>
                                <valItem ident="x-vaynakh">
                                    <gloss>вейнах. / Vaynakh</gloss>
                                </valItem>
                                <valItem ident="hu">
                                    <gloss>венг. / Hungarian</gloss>
                                </valItem>
                                <valItem ident="vep">
                                    <gloss>вепс. / Veps</gloss>
                                </valItem>
                                <valItem ident="bsk">
                                    <gloss>верш. / Burushaski</gloss>
                                </valItem>
                                <valItem ident="gem">
                                    <gloss>герм. / Proto-Germanic</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="glk">
                                    <gloss>гилян. / Gilaki</gloss>
                                </valItem>
                                <valItem ident="got">
                                    <gloss>гот. / Gothic</gloss>
                                </valItem>
                                <valItem ident="grc">
                                    <gloss>гр. / (Ancient) Greek</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="ka">
                                    <gloss>груз. / Georgian</gloss>
                                </valItem>
                                <!-- ancient or modern? probably both -->
                                <valItem ident="hac">
                                    <gloss>гуран. / Gorani</gloss>
                                </valItem>
                                <valItem ident="os-x-digor">
                                    <gloss>д. / Digor Ossetic</gloss>
                                </valItem>
                                <valItem ident="dar">
                                    <gloss>дарг. / Dargwa</gloss>
                                </valItem>
                                <valItem ident="chg">
                                    <gloss>джагат. (чагат.) / Chagatai</gloss>
                                </valItem>
                                <valItem ident="kry-x-jek">
                                    <gloss>джекск. / Jek Kryts</gloss>
                                </valItem>
                                <valItem ident="ddo">
                                    <gloss>дид. / Tsez</gloss>
                                </valItem>
                                <valItem ident="cu-x-bg">
                                    <gloss>др.болг. / Old Bulgarian</gloss>
                                </valItem>
                                <valItem ident="goh">
                                    <gloss>др.в.нем. / Old High German</gloss>
                                </valItem>
                                <valItem ident="gem-x-old">
                                    <gloss>др.герм. / Old Germanic</gloss>
                                </valItem>
                                <valItem ident="hbo">
                                    <gloss>др.евр. / Ancient Hebrew</gloss>
                                </valItem>
                                <valItem ident="sa">
                                    <gloss>др.инд. / Old Indic</gloss>
                                </valItem>
                                <valItem ident="x-oldirn">
                                    <gloss>др.иран. / Proto-Iranian</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="sga">
                                    <gloss>др.ирл. / Old Irish</gloss>
                                </valItem>
                                <valItem ident="non-x-is">
                                    <gloss>др.исл. / Old Icelandic</gloss>
                                </valItem>
                                <!-- treated as variant of Old Norse -->
                                <valItem ident="peo">
                                    <gloss>др.перс. / Old Persian</gloss>
                                </valItem>
                                <valItem ident="prg">
                                    <gloss>др.прусс. / Old Prussian</gloss>
                                </valItem>
                                <valItem ident="orv">
                                    <gloss>др.русск. / Old Russian</gloss>
                                </valItem>
                                <valItem ident="osx">
                                    <gloss>др.сакс. / Old Saxon</gloss>
                                </valItem>
                                <valItem ident="non">
                                    <gloss>др.сев. / Old Norse</gloss>
                                </valItem>
                                <valItem ident="x-oldsl">
                                    <gloss>др.слав. / Proto-Slavic</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="zza">
                                    <gloss>заза / Zazaki</gloss>
                                </valItem>
                                <valItem ident="os-x-iron">
                                    <gloss>и. / Iron Ossetic</gloss>
                                </valItem>
                                <valItem ident="ine">
                                    <gloss>и.е. / Proto-Indo-European</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="inh">
                                    <gloss>инг. / Ingush</gloss>
                                </valItem>
                                <valItem ident="inc">
                                    <gloss>инд. / Indic</gloss>
                                </valItem>
                                <!-- check -->
                                <!-- not clear what this is (Proto-IA?); doesn't seem to be attested -->
                                <valItem ident="ira">
                                    <gloss>иран. / (Proto-?)Iranian</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="ga">
                                    <gloss>ирл. / Irish</gloss>
                                </valItem>
                                <valItem ident="es">
                                    <gloss>исп. / Spanish</gloss>
                                </valItem>
                                <valItem ident="it">
                                    <gloss>ит. / Italian</gloss>
                                </valItem>
                                <valItem ident="kbd">
                                    <gloss>каб. / Kabardian</gloss>
                                </valItem>
                                <valItem ident="kk">
                                    <gloss>каз. / Kazakh</gloss>
                                </valItem>
                                <valItem ident="tt-x-kazan">
                                    <gloss>казан. / Kazan Tatar</gloss>
                                </valItem>
                                <valItem ident="dar-x-kaitag">
                                    <gloss>кайт. / Kaitag Dargwa</gloss>
                                </valItem>
                                <valItem ident="xal">
                                    <gloss>калм. / Kalmyk</gloss>
                                </valItem>
                                <valItem ident="kap">
                                    <gloss>капуч. / Bezhta</gloss>
                                </valItem>
                                <valItem ident="kdr">
                                    <gloss>караим. / Karaim</gloss>
                                </valItem>
                                <valItem ident="krc-x-karachay">
                                    <gloss>карач. / Karachay</gloss>
                                </valItem>
                                <valItem ident="krl">
                                    <gloss>карел. / Karelian</gloss>
                                </valItem>
                                <valItem ident="ccs">
                                    <gloss>картв. / South Caucasian</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="x-nuristan">
                                    <gloss>кафир. / Nuristani</gloss>
                                </valItem>
                                <valItem ident="ug-x-kashgar">
                                    <gloss>кашг. / Kashgari Uyghur</gloss>
                                </valItem>
                                <valItem ident="cel">
                                    <gloss>кельт. / Celtic</gloss>
                                </valItem>
                                <valItem ident="ky">
                                    <gloss>кирг. / Kyrgyz</gloss>
                                </valItem>
                                <valItem ident="zh">
                                    <gloss>кит. / Chinese</gloss>
                                </valItem>
                                <valItem ident="kv">
                                    <gloss>коми / Komi</gloss>
                                </valItem>
                                <valItem ident="ko">
                                    <gloss>корейский / Korean</gloss>
                                </valItem>
                                <valItem ident="os-x-ksan">
                                    <gloss>ксан. / Ksan Ossetic</gloss>
                                </valItem>
                                <valItem ident="kum">
                                    <gloss>кум. / Kumyk</gloss>
                                </valItem>
                                <valItem ident="qwm">
                                    <gloss>куман. / Cuman</gloss>
                                </valItem>
                                <valItem ident="ku">
                                    <gloss>курд. / Kurdish</gloss>
                                </valItem>
                                <valItem ident="xbc">
                                    <gloss>кушан. / Bactrian</gloss>
                                </valItem>
                                <valItem ident="pgd">
                                    <gloss>кхарошти / Gandhari</gloss>
                                </valItem>
                                <valItem ident="lbe">
                                    <gloss>лак. / Lak</gloss>
                                </valItem>
                                <valItem ident="la">
                                    <gloss>лат. / Latin</gloss>
                                </valItem>
                                <valItem ident="lv">
                                    <gloss>латыш. / Latvian</gloss>
                                </valItem>
                                <valItem ident="lez">
                                    <gloss>лезг. / Lezgian</gloss>
                                </valItem>
                                <valItem ident="liv">
                                    <gloss>лив. / Livonian</gloss>
                                </valItem>
                                <valItem ident="lt">
                                    <gloss>лит. / Lithuanian</gloss>
                                </valItem>
                                <valItem ident="smi">
                                    <gloss>лопар. / Sami</gloss>
                                </valItem>
                                <valItem ident="wen">
                                    <gloss>луж. / Sorbian</gloss>
                                </valItem>
                                <valItem ident="ldd">
                                    <gloss>лур. / Luri</gloss>
                                </valItem>
                                <valItem ident="mzn">
                                    <gloss>маз. / Mazanderani</gloss>
                                </valItem>
                                <valItem ident="mns">
                                    <gloss>манси / Mansi</gloss>
                                </valItem>
                                <valItem ident="mnc">
                                    <gloss>манчж. / Manchu</gloss>
                                </valItem>
                                <valItem ident="chm">
                                    <gloss>мар. / Mari</gloss>
                                </valItem>
                                <valItem ident="xmf">
                                    <gloss>мегр. / Mingerlian</gloss>
                                </valItem>
                                <valItem ident="xme">
                                    <gloss>мид. / Median</gloss>
                                </valItem>
                                <valItem ident="mn">
                                    <gloss>монг. / Mongolian</gloss>
                                </valItem>
                                <valItem ident="cmg">
                                    <gloss>монг. письм. / Classical Mongolian</gloss>
                                </valItem>
                                <!-- check -->
                                <valItem ident="x-mordvin">
                                    <gloss>морд. / Mordvinic</gloss>
                                </valItem>
                                <valItem ident="el">
                                    <gloss>н.гр. / Modern Greek</gloss>
                                </valItem>
                                <valItem ident="de">
                                    <gloss>нем. / German</gloss>
                                </valItem>
                                <valItem ident="yrk">
                                    <gloss>нен. / Nenets</gloss>
                                </valItem>
                                <valItem ident="nl">
                                    <gloss>нидерл. / Dutch</gloss>
                                </valItem>
                                <valItem ident="nds">
                                    <gloss>н.н.нем. / Low German</gloss>
                                </valItem>
                                <valItem ident="nog">
                                    <gloss>ног. / Nogai</gloss>
                                </valItem>
                                <valItem ident="no">
                                    <gloss>норв. / Norwegian</gloss>
                                </valItem>
                                <valItem ident="nub">
                                    <gloss>нубийское / Nubian</gloss>
                                </valItem>
                                <valItem ident="oru">
                                    <gloss>(пам.) орм. / Ormuri</gloss>
                                </valItem>
                                <valItem ident="os">
                                    <gloss>ос. / Ossetic</gloss>
                                </valItem>
                                <valItem ident="pal-x-pazend">
                                    <gloss>паз. / Pazend</gloss>
                                </valItem>
                                <valItem ident="pi">
                                    <gloss>пали / Pali</gloss>
                                </valItem>
                                <valItem ident="x-pamir">
                                    <gloss>пам. / Pamir</gloss>
                                </valItem>
                                <valItem ident="sgh-x-bartang">
                                    <gloss>пам. барт. / Bartangi</gloss>
                                </valItem>
                                <valItem ident="wbl">
                                    <gloss>пам. в. / Wakhi</gloss>
                                </valItem>
                                <valItem ident="sgy-x-zebak">
                                    <gloss>пам. зеб. / Zebaki</gloss>
                                </valItem>
                                <valItem ident="ydg">
                                    <gloss>пам. и. / Yidgha</gloss>
                                </valItem>
                                <valItem ident="isk">
                                    <gloss>пам. ишк. / Ishkashimi</gloss>
                                </valItem>
                                <valItem ident="mnj">
                                    <gloss>пам. м. / Munji</gloss>
                                </valItem>
                                <valItem ident="x-pamir-n">
                                    <gloss>пам. н.?? / Pamir</gloss>
                                </valItem>
                                <valItem ident="x-rushani">
                                    <gloss>пам. руш. / Rushani</gloss>
                                </valItem>
                                <valItem ident="srh">
                                    <gloss>пам. с. / Sarikoli</gloss>
                                </valItem>
                                <valItem ident="sgy">
                                    <gloss>пам. сгл. / Sanglechi</gloss>
                                </valItem>
                                <valItem ident="sgh">
                                    <gloss>пам. ш. / Shughni</gloss>
                                </valItem>
                                <valItem ident="yah">
                                    <gloss>пам. язг. / Yazgulyam</gloss>
                                </valItem>
                                <valItem ident="prc">
                                    <gloss>пар. / Parachi</gloss>
                                </valItem>
                                <valItem ident="xpr">
                                    <gloss>парф. / Parthian</gloss>
                                </valItem>
                                <valItem ident="psh">
                                    <gloss>пашан / Pashai (?)</gloss>
                                </valItem>
                                <valItem ident="fa">
                                    <gloss>перс. / Persian</gloss>
                                </valItem>
                                <valItem ident="pal">
                                    <gloss>пехл. / Middle Persian</gloss>
                                </valItem>
                                <valItem ident="pal-x-turfan">
                                    <gloss>пехл. турф. / Turfan Pahlavi</gloss>
                                </valItem>
                                <valItem ident="pl">
                                    <gloss>пол. / Polish</gloss>
                                </valItem>
                                <valItem ident="ro">
                                    <gloss>рум. / Romanian</gloss>
                                </valItem>
                                <valItem ident="ru">
                                    <gloss>русск. / Russian</gloss>
                                </valItem>
                                <valItem ident="rut">
                                    <gloss>рутул. / Rutul</gloss>
                                </valItem>
                                <valItem ident="kho">
                                    <gloss>сак. / Saka</gloss>
                                </valItem>
                                <valItem ident="sva">
                                    <gloss>сван. / Svan</gloss>
                                </valItem>
                                <valItem ident="trk-x-north">
                                    <gloss>сев. тюрк. / North Turkic</gloss>
                                </valItem>
                                <valItem ident="inc-x-nnew">
                                    <gloss>северные новоиндийские диалекты / North New Indic
                                        dialects</gloss>
                                </valItem>
                                <valItem ident="sem">
                                    <gloss>семит. / Semitic</gloss>
                                </valItem>
                                <valItem ident="sr">
                                    <gloss>серб. / Serbian</gloss>
                                </valItem>
                                <valItem ident="syr">
                                    <gloss>сир. / Syriac</gloss>
                                </valItem>
                                <valItem ident="xsc">
                                    <gloss>скиф. / Scythian</gloss>
                                </valItem>
                                <valItem ident="sla">
                                    <gloss>слав. / Slavic</gloss>
                                </valItem>
                                <valItem ident="sl">
                                    <gloss>слов. / Slovenian</gloss>
                                </valItem>
                                <valItem ident="sog">
                                    <gloss>согд. / Sogdian</gloss>
                                </valItem>
                                <valItem ident="sog-x-chr">
                                    <gloss>согд. христ. / Christian Sogdian</gloss>
                                </valItem>
                                <valItem ident="gmh">
                                    <gloss>ср.в.нем. / Middle High German</gloss>
                                </valItem>
                                <valItem ident="inc-x-mid">
                                    <gloss>ср.инд. / Middle Indic</gloss>
                                </valItem>
                                <valItem ident="ira-x-mid">
                                    <gloss>ср.иран. / Middle Iranian</gloss>
                                </valItem>
                                <valItem ident="gml">
                                    <gloss>ср.н.нем. / Middle Low German</gloss>
                                </valItem>
                                <valItem ident="oos">
                                    <gloss>ст.ос. / Old Ossetic</gloss>
                                </valItem>
                                <valItem ident="cu">
                                    <gloss>ст.слав. / Old Church Slavonic</gloss>
                                </valItem>
                                <valItem ident="tab">
                                    <gloss>табас. / Tabassaran</gloss>
                                </valItem>
                                <valItem ident="tg">
                                    <gloss>тадж. / Tajik</gloss>
                                </valItem>
                                <valItem ident="tly">
                                    <gloss>тал. / Talyshi</gloss>
                                </valItem>
                                <valItem ident="tt">
                                    <gloss>татар. / Tatar</gloss>
                                </valItem>
                                <valItem ident="ttt">
                                    <gloss>татск. / Tat (Muslim?)</gloss>
                                </valItem>
                                <valItem ident="alt-x-teleut">
                                    <gloss>телеут. / Teleut Altai</gloss>
                                </valItem>
                                <valItem ident="bo">
                                    <gloss>тибет. / Tibetan</gloss>
                                </valItem>
                                <valItem ident="x-tchr">
                                    <gloss>тохар. / Tocharian</gloss>
                                </valItem>
                                <valItem ident="xto">
                                    <gloss>тохар. A / Tocharian A</gloss>
                                </valItem>
                                <valItem ident="txb">
                                    <gloss>тохар. B / Tocharian B</gloss>
                                </valItem>
                                <valItem ident="tr">
                                    <gloss>тур. / Turkish</gloss>
                                </valItem>
                                <valItem ident="bbl">
                                    <gloss>туш. / Bats</gloss>
                                </valItem>
                                <valItem ident="trk">
                                    <gloss>тюрк. / Turkic</gloss>
                                </valItem>
                                <valItem ident="uby">
                                    <gloss>убых. / Ubykh</gloss>
                                </valItem>
                                <valItem ident="udi">
                                    <gloss>удин. / Udi</gloss>
                                </valItem>
                                <valItem ident="udm">
                                    <gloss>удм. / Udmurt</gloss>
                                </valItem>
                                <valItem ident="uz">
                                    <gloss>узб. / Uzbek</gloss>
                                </valItem>
                                <valItem ident="ug">
                                    <gloss>уйгур. / Uyghur</gloss>
                                </valItem>
                                <valItem ident="uk">
                                    <gloss>укр. / Ukrainian</gloss>
                                </valItem>
                                <valItem ident="mn-x-uriankh">
                                    <gloss>урянх. / Uriankhai</gloss>
                                </valItem>
                                <valItem ident="fi">
                                    <gloss>фин. / Finnish</gloss>
                                </valItem>
                                <valItem ident="fr">
                                    <gloss>фр. / French</gloss>
                                </valItem>
                                <valItem ident="txh">
                                    <gloss>фрак. / Thracian</gloss>
                                </valItem>
                                <valItem ident="kca">
                                    <gloss>ханты / Khanty</gloss>
                                </valItem>
                                <valItem ident="khv">
                                    <gloss>хварш. / Khwarshi</gloss>
                                </valItem>
                                <valItem ident="ka-x-khevsur">
                                    <gloss>хевсур. / Khevsur Georgian</gloss>
                                </valItem>
                                <valItem ident="hit">
                                    <gloss>хетт. / Hittite</gloss>
                                </valItem>
                                <valItem ident="kjj">
                                    <gloss>хиналуг. / Khinalugh</gloss>
                                </valItem>
                                <valItem ident="khw">
                                    <gloss>ховар. / Khowar</gloss>
                                </valItem>
                                <valItem ident="hr">
                                    <gloss>хорв. / Croatian</gloss>
                                </valItem>
                                <valItem ident="zkh">
                                    <gloss>хорезм. / Khwarezmian</gloss>
                                </valItem>
                                <valItem ident="tkr">
                                    <gloss>цахур. / Tsakhur</gloss>
                                </valItem>
                                <valItem ident="rom">
                                    <gloss>цыг. / Romani</gloss>
                                </valItem>
                                <valItem ident="cji">
                                    <gloss>чамал. / Chamalal</gloss>
                                </valItem>
                                <valItem ident="lzz">
                                    <gloss>чан. / Laz</gloss>
                                </valItem>
                                <valItem ident="x-crc">
                                    <gloss>черк. / Circassian</gloss>
                                </valItem>
                                <valItem ident="ce">
                                    <gloss>чеч. / Chechen</gloss>
                                </valItem>
                                <valItem ident="cs">
                                    <gloss>чеш. / Czech</gloss>
                                </valItem>
                                <valItem ident="cv">
                                    <gloss>чув. / Chuvash</gloss>
                                </valItem>
                                <valItem ident="ady-x-shpsg">
                                    <gloss>шапс. / Shapsug Adyghe</gloss>
                                </valItem>
                                <valItem ident="sv">
                                    <gloss>швед. / Swedish</gloss>
                                </valItem>
                                <valItem ident="sux">
                                    <gloss>шумер. / Sumerian</gloss>
                                </valItem>
                                <valItem ident="evn">
                                    <gloss>эвенк. / Evenki</gloss>
                                </valItem>
                                <valItem ident="et">
                                    <gloss>эст. / Estonian</gloss>
                                </valItem>
                                <valItem ident="os-x-south">
                                    <gloss>ю. / South Ossetic</gloss>
                                </valItem>
                                <valItem ident="syd-x-south">
                                    <gloss>южносамоедские наречия / Southern Samoyedic</gloss>
                                </valItem>
                                <valItem ident="gbz-x-yzd">
                                    <gloss>язди / Yazdi</gloss>
                                </valItem>
                                <valItem ident="x-iazyg">
                                    <gloss>языгский / Iazygean</gloss>
                                </valItem>
                                <valItem ident="sah">
                                    <gloss>якут. / Yakut</gloss>
                                </valItem>
                                <valItem ident="yai">
                                    <gloss>ягн. / Yaghnobi</gloss>
                                </valItem>
                                <valItem ident="ja">
                                    <gloss>япон. / Japanese</gloss>
                                </valItem>
                            </valList>
                        </attDef>                        
<!--                        <attDef ident="xml:base" mode="delete"/>-->
                        <attDef ident="xml:space" mode="delete"/>                        
                    </attList>
                </classSpec>
                
                <classSpec type="atts" ident="att.dialectal" mode="add">
                    <desc>provides an attribute that defines the dialect of the element, in addition
                        to <att>xml:lang</att>.</desc>
                    <attList>
                        <attDef ident="dialect" mode="add">
                            <datatype minOccurs="1" maxOccurs="unbounded">
                                <dataRef name="language"/>
                            </datatype>
                        </attDef>
                    </attList>
                    <remarks>
                        <p>Mainly applies to <gi>mentioned</gi> words in etymologies.</p>
                    </remarks>
                </classSpec>
                
                <classSpec type="atts" ident="att.extralang" mode="add">
                    <desc>provides an attribute that specifies languages of the element in addition
                        to <att>xml:lang</att>, if more than one is specified in the source.</desc>
                    <attList>
                        <attDef ident="extralang" mode="add">
                            <datatype minOccurs="1" maxOccurs="unbounded">
                                <dataRef name="language"/>
                            </datatype>
                        </attDef>
                    </attList>   
                    <remarks>
                        <p>Mainly applies to <gi>mentioned</gi> words in etymologies.</p>
                    </remarks>                    
                </classSpec>
                
                <classSpec type="atts" ident="att.sortable" mode="delete"/>
                <classSpec type="atts" ident="att.global.source" mode="delete"/>
                <classSpec type="atts" ident="att.global.rendition" mode="change">
                    <attList>
<!--                        <attDef ident="rendition" mode="delete"/>-->
                        <attDef ident="style" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec type="atts" ident="att.global.linking" mode="change">
                    <attList>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                    </attList>
                </classSpec>
                
                <classSpec type="atts" ident="att.lexicographic">
                    <classes mode="change">
                        <memberOf mode="delete" key="att.lexicographic.normalized"/>
                    </classes>
                </classSpec>
                
                <classSpec type="atts" ident="att.linguistic" mode="change">
                    <classes mode="change">
                        <memberOf mode="delete" key="att.lexicographic.normalized"/>
                    </classes>
                </classSpec>
                
                <classSpec type="atts" ident="att.partials" mode="delete"/>
                <classSpec type="atts" ident="att.notated" mode="delete"/>
                
                <elementSpec ident="note" mode="change">
                    <attList>
                        <attDef ident="type" mode="change" usage="req">
                            <valList mode="replace" type="closed">
                                <valItem ident="comment"><gloss>comments to various elements of the dictionary, usually in parentheses or separated from their environment by other punctuation; these punctuation marks should be included within the note, if possible</gloss></valItem>
                                <valItem ident="internal"><gloss>comments for internal use of project participants, not intended for publication</gloss></valItem>
                                <valItem ident="footnote"/>
                                <valItem ident="bibl"><gloss>bibliographic note, mainly used in <gi>re</gi>, which sometimes includes bibliographic citations (because <gi>bibl</gi> cannot be inserted directly).</gloss></valItem>
                            </valList>
                        </attDef>
                        <attDef ident="xml:lang" mode="change" usage="rec">
                            <xi:include href="vallist-ruen.xml" parse="xml"/>
                        </attDef>
                    </attList>
                </elementSpec>
                
                <elementSpec module="core" ident="hi" mode="change">
                    <classes mode="change">
                        <memberOf mode="add" key="att.global.rendition"/>
                    </classes>
                </elementSpec>
                
                <elementSpec module="core" ident="q" mode="change">
                    <classes mode="change">
                        <memberOf mode="add" key="att.global.rendition"/>
                    </classes>
<!--                    <content>
                        <alternate minOccurs="0" maxOccurs="unbounded">
                            <textNode/>
                            <classRef key="model.gLike"/>
                            <classRef key="model.global"/>
                            <classRef key="model.hiLike"/>
                            <classRef key="model.emphLike"/>
                            <classRef key="model.ptrLike.form"/>
                            <classRef key="model.ptrLike"/>
                        </alternate>
                    </content>      -->              
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="entry" mode="change">
                    <classes mode="change">
                        <memberOf mode="delete" key="att.typed"/>
                    </classes>
                    <content>
                        <sequence>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="form" minOccurs="1" maxOccurs="2"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="formGrp" minOccurs="0" maxOccurs="unbounded"/> <!-- additional forms -->
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="usg" minOccurs="0" maxOccurs="1"/>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <classRef key="model.global"/>
                                <elementRef key="formGrp" minOccurs="0" maxOccurs="unbounded"/> <!-- additional forms after the sense -->                                
                                <elementRef key="sense"/>                                
                            </alternate>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <classRef key="model.global"/>
                                <elementRef key="formGrp" minOccurs="0" maxOccurs="unbounded"/> <!-- additional forms after the sense -->                                
                                <elementRef key="re"/>
                            </alternate>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <classRef key="model.global"/>
                                <elementRef key="exampleGrp"/>
                            </alternate>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <classRef key="model.global"/>
                                <elementRef key="re"/>
                            </alternate>
                            <alternate minOccurs="0" maxOccurs="unbounded">
                                <classRef key="model.global"/>
                                <elementRef key="exampleGrp"/>
                            </alternate>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="etym" minOccurs="0" maxOccurs="2"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="ref" minOccurs="0" maxOccurs="unbounded"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        </sequence>
                    </content>
                    <constraintSpec ident="form-type" scheme="schematron">
                        <constraint xmlns:abv="http://ossetic-studies.org/ns/abaevdict">
                            <sch:rule context="tei:entry/tei:form[1]">
                                <sch:assert test="@type = 'lemma'">The first form must have the type
                                    'lemma' (headword).</sch:assert>
                            </sch:rule>
                            <sch:rule context="tei:entry/tei:form[2]">
                                <sch:assert test="@xml:lang = 'os-x-digor'">The second form may only
                                    be the Digor form.</sch:assert>
                                <sch:assert test="@type = 'dialectal'">The second form must be a
                                    dialectal variant.</sch:assert>
                            </sch:rule>
                            <sch:rule context="formGrp/tei:form[2]">
                                <sch:assert test="@xml:lang = 'os-x-digor'">The second form may only
                                    be the Digor form.</sch:assert>
                                <sch:assert test="@type = 'dialectal'">The second form must be a
                                    dialectal variant.</sch:assert>
                            </sch:rule>                            
                        </constraint>
                    </constraintSpec>
                    <constraintSpec ident="note-type" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:entry/tei:note[@type = 'internal']">
                                <sch:assert test="not(following-sibling::tei:etym)">Internal note
                                    should follow etymology.</sch:assert>
                            </sch:rule>
                            <sch:rule context="tei:entry/tei:note[@type = 'comment']">
                                <sch:assert test="not(preceding-sibling::tei:etym)">Entry comments
                                    should precede etymology.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
<!--                    <constraintSpec ident="cit-type" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:entry/tei:cit">
                                <sch:assert test="@type = 'exampleGroup'">A 'cit' element inside
                                    'entry' should be of type 'exampleGroup'.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>-->
                    
                    <attList>
                        <attDef ident="xml:lang" mode="change" usage="req">
                            <xi:include href="vallist-oslang.xml"/>
                        </attDef>
<!--                        <attDef ident="corresp" mode="delete"/>-->
                        <attDef ident="status" mode="add" ns="http://ossetic-studies.org/ns/abaevdict">
                            <valList mode="replace" type="closed">
                                <valItem ident="new"><gloss>New entry not found in Abaev's original dictionary.</gloss></valItem>
                            </valList>
                        </attDef>
                        <attDef ident="completeness" mode="add" ns="http://ossetic-studies.org/ns/abaevdict">
                            <valList mode="replace" type="closed">
                                <valItem ident="incomplete"><gloss>Entry requires additional work on annotation and/or translation.</gloss></valItem>
                                <valItem ident="questions"><gloss>Entry essentially complete but questions remain.</gloss></valItem>
                                <valItem ident="russian-questions"><gloss>Entry essentially complete but questions in the Russian translation remain.</gloss></valItem>
                                <valItem ident="english-questions"><gloss>Entry essentially complete but questions in the English translation remain.</gloss></valItem>
                                <valItem ident="complete"><gloss>Entry is finished.</gloss></valItem>
                            </valList>
                        </attDef>                        
                    </attList>
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="sense" mode="change">
                    <content>
                        <alternate minOccurs="0" maxOccurs="unbounded">
                            <!--<macroRef key="macro.xtext"/>-->
                            <elementRef key="sense"/>
                            <elementRef key="def"/>
                            <elementRef key="tr"/>
                            <elementRef key="usg"/>
                            <elementRef key="re"/> <!-- cf. lasyn -->
                            <classRef key="model.global"/>
                        </alternate>
                    </content>
                    <attList>
                        <attDef ident="xml:lang" mode="change">
                            <xi:include href="vallist-oslang.xml"/>
                        </attDef>
                    </attList>
                    <remarks>
                        <p>The content model of the <gi>sense</gi> element is strongly restricted
                            compared to standard TEI: it may only contain character data, subsenses,
                            translations, usage notes (to indicate language / dialect, where
                            applicable) and global elements such as notes.</p>
                    </remarks>
                </elementSpec>
                
                <!--        <elementSpec module="linking" ident="seg" mode="change">
            <attList>
                <attDef ident="type" mode="change" usage="req">
                    <valList type="closed" mode="replace">
                        <valItem ident="exGrp"><gloss>Example group</gloss></valItem>
                    </valList>
                </attDef>
            </attList>
        </elementSpec>-->
                
                <!--        <elementSpec module="dictionaries" ident="lang" mode="change">
            <attList>
                <attDef ident="xml:lang" mode="change" usage="req">
                    <valList type="closed" mode="replace">
                        <valItem ident="ru"><gloss>рус. / Russian</gloss></valItem>
                        <valItem ident="en"><gloss>англ. / English</gloss></valItem>
                    </valList>
                </attDef>
            </attList>            
        </elementSpec>  -->
                
                <elementSpec module="dictionaries" ident="form" mode="change">
                    <attList>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="type" usage="req" mode="change">
                            <valList mode="replace" type="closed">
                                <valItem ident="lemma"/>
                                <valItem ident="dialectal"/>
                                <valItem ident="participle"/>
                                <valItem ident="variant"/>
                                <valItem ident="synonym"/>
                                <valItem ident="plural"/>
                            </valList>
                        </attDef>
                        <attDef ident="subtype" usage="opt" mode="change">
                            <valList mode="replace" type="closed">
                                <valItem ident="parens"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="orth" mode="change">
                    <classes mode="change">
                        <memberOf mode="delete" key="att.typed"/>
                    </classes>
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="formGrp" mode="add" ns="http://ossetic-studies.org/ns/abaevdict">
                    <desc xml:lang="en">a set of additional forms; corresponds to a <gi>cit</gi> element with <att>type</att> = <val>form</val>.</desc>
                    <classes>
                        <memberOf key="att.global"/>
                        <memberOf key="att.global.rendition"/>
<!--                        <memberOf key="att.global.linking"/>-->
<!--                        <memberOf key="att.dialectal"/>-->
                        <memberOf key="model.quoteLike"/>
                    </classes>
                    <content>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="form" minOccurs="1" maxOccurs="2"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                    </content>                    
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="example" mode="add" ns="http://ossetic-studies.org/ns/abaevdict">
                    <desc xml:lang="en">represents an example in Abaev's Ossetic
                        dictionary entry.</desc>
                    <equiv filter="example-filter.xsl" mimeType="text/xsl" name="example"/>
                    <classes>
                        <memberOf key="att.global"/>
                        <memberOf key="att.global.rendition"/>
<!--                        <memberOf key="att.global.linking"/>-->
<!--                        <memberOf key="att.dialectal"/>-->
                        <memberOf key="model.quoteLike"/>
                    </classes>
                    <content>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="usg" minOccurs="0" maxOccurs="1"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="quote" minOccurs="1" maxOccurs="1"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="tr" minOccurs="0" maxOccurs="unbounded"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="bibl" minOccurs="0" maxOccurs="unbounded"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                    </content>
                    <attList>
                        <attDef ident="xml:lang" usage="opt" mode="change">
                            <desc>the language should only be indicated if the source has <q>д.</q>
                                (for Digor) or <q>ксан.</q> (for Ksan) preceding the example text.
                                Other dialect options are possible, but not attesed. Another, relatively 
                                infrequent case is when the example is in Russian (i.e. there is no
                                Ossetic text). Otherwise <att>xml:lang</att> is inherited from the dictionary
                                entry.</desc>
                            <xi:include href="vallist-example.xml"/>
                        </attDef>
<!--                        <attDef ident="dialect" usage="opt" mode="change">
                            <desc>represents the (sub)dialect of Ossetic used in the example. At
                                this stage, only Ksan has been attested, but other variants cannot
                                be excluded.</desc>
                            <valList mode="replace" type="semi">
                                <valItem ident="os-x-ksan"><gloss>Ksan Iron Ossetic</gloss></valItem>
                            </valList>
                        </attDef>-->
                    </attList>
                    <remarks xml:lang="en">
                        <p>The <gi>example</gi> element is semantically equivalent to the standard TEI
                            element <gi>cit</gi> with the attribute <att>type</att> having the value
                            <val>example</val>.</p>
                    </remarks>
                    <remarks xml:lang="en">
                        <p>The content model is stricter than that of the standard <gi>cit</gi> and
                            includes only those elements that form part of Abaev's dictionary
                            structure: the language/dialect name (embedded in the <gi>usg</gi>
                            element to conform with TEI) the example text (<gi>quote</gi>),
                            translation (<gi>tr</gi>) and bibliographic reference to the source
                                (<gi>bibl</gi>). Of these, only the example text is obligatory,
                            although usually all three elements occur. Global elements (such as
                                <gi>note</gi>) may also appear in any position.</p>
                    </remarks>             
                    <remarks xml:lang="en">
                        <p>Examples do not appear in lexical entries on their own. They must be
                            embedded in an <gi>exampleGrp</gi> element.</p>
                    </remarks>
                    <remarks xml:lang="en">
                        <p>In the source text, examples are separated from each other by semicolons,
                            while example groups are separated by period and dash combinations. This
                            punctuation is added automatically in the electronic dictionary and
                            should not be annotated.</p>
                    </remarks>
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="exampleGrp" mode="add" ns="http://ossetic-studies.org/ns/abaevdict">
                    <desc xml:lang="en">(example group) represents a group of examples in Abaev's Ossetic
                        dictionary entry.</desc>
                    <equiv filter="examplegrp-filter.xsl" mimeType="text/xsl" name="example"/>
                    <classes>
                        <memberOf key="att.global"/>
                        <memberOf key="att.global.rendition"/>
<!--                        <memberOf key="att.global.linking"/>-->
                        <memberOf key="model.entryPart.top"/>
                    </classes>
                    <content>
                        <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="example" minOccurs="1" maxOccurs="unbounded"/>
                        <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                    </content>
                    <attList>
                        <attDef ident="n" mode="change">
                            <desc xml:lang="en">represents the number that precedes the example group in some lexical entries. This number usually corresponds to a numbered <gi>sense</gi>.</desc>
                        </attDef>
                    </attList>
                    <remarks xml:lang="en">
                        <p>This element is a container for <gi>example</gi> elements. It may only
                            include <gi>example</gi> and <gi>note</gi> elements (if the note
                            pertains to the group as a whole and not to a particular example).</p>
                    </remarks>
                    <remarks xml:lang="en">
                        <p>In standard TEI, the semantic equivalent is <gi>cit</gi> with the value
                                <val>exampleGroup</val> for <att>type</att>.</p>
                    </remarks>
                </elementSpec>
                
                <elementSpec module="dictionaries" ident="tr" mode="add" ns="http://ossetic-studies.org/ns/abaevdict">
                    <desc xml:lang="en">(<gloss>translation</gloss>) represents translations of examples in Abaev's dictionary entries.</desc>
                    <equiv filter="tr-filter.xsl" mimeType="text/xsl" name="example"/>
                    <classes>
                        <memberOf key="att.global"/>
                        <memberOf key="att.global.rendition"/>
                        <!-- No model membership, because translations only occur in examples, where they 
                            are explicitly mentioned in the content model. -->
                    </classes>
                    <content>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="q" minOccurs="1" maxOccurs="unbounded"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                    </content>
                    <attList>
                        <attDef ident="xml:lang" mode="change" usage="req">
                            <xi:include href="vallist-ruen.xml"/>
                        </attDef>
                    </attList>
                    <remarks xml:lang="en">
                        <p>This element may only contain notes and the example text, which always occurs in quotation marks (<gi>q</gi>).</p>
                        <p>An <att>xml:lang</att> attribute <hi rend="bold">must</hi> be supplied, with the value of either <val>ru</val> or <val>en</val>.</p>
                        <p>In standard TEI, the semantic equivalent is <gi>cit</gi> with the value <val>translation</val> for <att>type</att>.</p>
                    </remarks>
                </elementSpec>      
                
                <elementSpec ident="def" mode="change">
                    <attList>
                        <attDef ident="xml:lang" mode="change" usage="req">
                            <xi:include href="vallist-ruen.xml"/>
                        </attDef>
                    </attList>
                </elementSpec>
                
<!--                Move this to a separate ODD file (for a 'standard compliant' TEI style). cit is not needed in this version.-->
                
                <!--<elementSpec module="core" ident="cit" mode="change">
                    <classes mode="change">
                        <memberOf key="att.global.linking"/>
                    </classes>
                    <constraintSpec ident="tr-ru-eng" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:cit[@type = 'translation']">
                                <sch:assert test="(@xml:lang = 'ru') or (@xml:lang = 'en')"
                                    >Translation must be in Russian (xml:lang = ru) or English
                                    (xml:lang = en).</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>                  
                        <attDef ident="type" mode="replace" usage="req">
                            <valList type="closed" mode="replace">
                                <valItem ident="translation">
                                    <desc xml:lang="en">Translation of a usage example of a lexeme
                                        or word form.</desc>
                                    <desc xml:lang="ru">Перевод примера употребления лексемы или
                                        формы.</desc>
                                </valItem>
                                <valItem ident="example">
                                    <desc xml:lang="en">Example of the usage of an
                                        expression.</desc>
                                    <desc xml:lang="ru">Пример употребления выражения.</desc>
                                </valItem>
                                <valItem ident="exampleGroup">
                                    <desc xml:lang="en">Group of examples in a dictionary
                                        entry.</desc>
                                    <desc xml:lang="ru">Группа примеров в словарной статье.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>-->
                
                <elementSpec ident="etym" mode="change">
                    <content><!-- replicates standard TEI P5 but adds example -->
                        <alternate minOccurs="0" maxOccurs="unbounded">
                            <textNode/>
                            <classRef key="model.gLike"/>
                            <classRef key="model.global"/>
                            <classRef key="model.inter"/>
                            <classRef key="model.phrase"/>
                            <elementRef key="def"/>
                            <elementRef key="etym"/>
                            <elementRef key="gramGrp"/>
                            <elementRef key="lbl"/>
                            <elementRef key="usg"/>
                            <elementRef key="xr"/>
                            <elementRef key="example"/>
                        </alternate>
                    </content>
                    <attList>
                        <attDef ident="xml:lang" mode="change" usage="req">
                            <xi:include href="vallist-ruen.xml"/>
                        </attDef>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="mentioned" module="core" mode="change">
                    <classes mode="change">
                        <memberOf key="att.dialectal"/>
                        <memberOf key="att.extralang"/>
<!--                        <memberOf key="att.manylangs"/>-->
                    </classes>
                    <content>
                        <sequence>
                            <elementRef key="lang" minOccurs="0" maxOccurs="1"/>
                            <alternate minOccurs="1" maxOccurs="1">
                                <sequence>
                                    <alternate minOccurs="1" maxOccurs="unbounded">
                                        <classRef key="model.global"/>
                                        <elementRef key="mentioned"/>
                                        <textNode/>
                                        <classRef key="model.gLike"/>
                                    </alternate>
                                    <alternate minOccurs="1" maxOccurs="unbounded">
                                        <classRef key="model.global"/>
                                        <elementRef key="gloss"/>
                                        <textNode/>
                                        <classRef key="model.gLike"/>
                                    </alternate>
                                </sequence>
                                <alternate minOccurs="0" maxOccurs="unbounded">
                                    <classRef key="model.global"/>
                                    <elementRef key="w"/>
                                    <elementRef key="c"/>
                                    <elementRef key="m"/>
                                    <elementRef key="phr"/>
                                    <elementRef key="s"/>
                                    <elementRef key="gloss"/>
                                    <textNode/>
                                    <classRef key="model.gLike"/>
                                </alternate>
                            </alternate>
                        </sequence>
                    </content>
                    <!--<constraintSpec ident="punctuation-only" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:mentioned/text()">
                                <sch:report test="matches(.,'[^ ,—;:()\n]')">Text in mentioned forms must only include punctuation (spaces, commas).</sch:report>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>-->
                    <constraintSpec ident="top-lang" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:mentioned/tei:mentioned | tei:mentioned[not(tei:mentioned)]">
                                <sch:assert test="@xml:lang">Mentioned forms must include language attributes.</sch:assert>
                            </sch:rule>
                            <sch:rule context="tei:mentioned[tei:mentioned]">
                                <sch:assert test="not(@xml:lang)">Mentioned containers must not define languages.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="xml:lang" mode="change" usage="rec"/>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="gloss" mode="change">
                    
                </elementSpec>
                
                <elementSpec module="core" ident="ref" mode="change">
                    <!--<constraintSpec ident="crossref-id" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:ref[@type='xr']">
                                <sch:assert test="substring(@target,2) = //tei:entry/@xml:id">The cross-referenced entry <sch:value-of select="substring(@target,2)"/> does not exist.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>-->  
                    <constraintSpec ident="target-or-text" scheme="schematron">
                        <constraint>
                            <sch:rule context="tei:ref">
                                <sch:assert test="text() | @target" role="warning">Bibliographic reference must either point to a known bibliography item or include explicit text.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>                    
                    <attList>
                        <attDef ident="type" mode="change" usage="req">
                            <valList mode="replace" type="closed">
                                <valItem ident="xr"/>
                                <valItem ident="bibl"/>
                                <valItem ident="url"/>
                            </valList>
                        </attDef>
                        <attDef ident="target" usage="rec" mode="change"/>
                    </attList>
                </elementSpec>
                
                
                <!--        <elementSpec module="core" ident="bibl" mode="change">
            <attList>
                <attDef ident="corresp" mode="change">
                    <valList type="semi" mode="replace">
                        <valItem ident="src_AK"/>
                        <valItem ident="src_Аргъ."/>
                        <valItem ident="src_Arsen"/>
                        <valItem ident="src_Æfx. Xæs."/>
                        <valItem ident="src_Ӕмб."/>
                        <valItem ident="src_Bar."/>
                        <valItem ident="src_Bes."/>
                        <valItem ident="src_Bes. Ka ke"/>
                        <valItem ident="src_Брит."/>
                        <valItem ident="src_Čerm."/>
                        <valItem ident="src_Christ."/>
                        <valItem ident="src_Comaq"/>
                        <valItem ident="src_Диг. сказ."/>
                        <valItem ident="src_F."/>
                        <valItem ident="src_FS"/>
                        <valItem ident="src_Gurdž. Æduli"/>
                        <valItem ident="src_Gurdž. Saxi ræs."/>
                        <valItem ident="src_Gurdž. Wadž."/>
                        <valItem ident="src_Iræf"/>
                        <valItem ident="src_Kæfq."/>
                        <valItem ident="src_Коста"/>
                        <valItem ident="src_LQ"/>
                        <valItem ident="src_MD"/>
                        <valItem ident="src_MSt."/>
                        <valItem ident="src_%sMunk.%s"/>
                        <valItem ident="src_Нарт. сказ."/>
                        <valItem ident="src_%sNiger%s"/>
                        <valItem ident="src_ОТ"/>
                        <valItem ident="src_ОЭ"/>
                        <valItem ident="src_ОЭп."/>
                        <valItem ident="src_ОЯФ I"/>
                        <valItem ident="src_%sPuškin%s. Arhau"/>
                        <valItem ident="src_Qazaq"/>
                        <valItem ident="src_%sQazb.%s"/>
                        <valItem ident="src_%sQirǧ.%s"/>
                        <valItem ident="src_%sSam.%s"/>
                        <valItem ident="src_SD"/>
                        <valItem ident="src_СД"/>
                        <valItem ident="src_%sСека%s"/>
                        <valItem ident="src_%sСека%s. Ир. фийау"/>
                        <valItem ident="src_Сл."/>
                        <valItem ident="src_СОПам."/>
                        <valItem ident="src_%sSozur%s"/>
                        <valItem ident="src_%sТайм.%s Ӕмдз."/>
                        <valItem ident="src_%sТайм.%s Мӕ зӕрд."/>
                        <valItem ident="src_%sTujǧ.%s"/>
                        <valItem ident="src_Хаджи-Мурат"/>
                        <valItem ident="src_%sХар.%s Кадӕг"/>
                        <valItem ident="src_%sXar.%s Zærdæ"/>
                        <valItem ident="src_Хрест."/>
                        <valItem ident="src_ЮОПам."/>
                        <valItem ident="src_Лука"/>
                        <valItem ident="src_Матфей"/>
                        <valItem ident="src_Марк"/>
                        <valItem ident="src_Иоанн"/>                        
                    </valList>
                </attDef>
            </attList>
        </elementSpec>-->
                <elementSpec ident="re" mode="change">
                    <content>
                        <alternate>
                            <sequence>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="form" minOccurs="1" maxOccurs="2"/>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="usg" minOccurs="0" maxOccurs="1"/>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="sense" minOccurs="0" maxOccurs="unbounded"/>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <!--                            <elementRef key="re" minOccurs="0" maxOccurs="unbounded"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>-->
                                <elementRef key="exampleGrp" minOccurs="0" maxOccurs="unbounded"/>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <!--                            <elementRef key="re" minOccurs="0" maxOccurs="unbounded"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>-->
                                <!--                            <elementRef key="exampleGrp" minOccurs="0" maxOccurs="unbounded"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="etym" minOccurs="0" maxOccurs="2"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="ref" minOccurs="0" maxOccurs="unbounded"/>
                            <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>-->
                            </sequence>
                            <sequence><!-- several subentries with shared sense(s) -->
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="re" minOccurs="1" maxOccurs="unbounded"/>
                                <elementRef key="sense" minOccurs="0" maxOccurs="unbounded"/>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                                <elementRef key="exampleGrp" minOccurs="0" maxOccurs="unbounded"/>
                                <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                            </sequence>
                        </alternate>
                    </content>
                </elementSpec>
            </schemaSpec></body></text></TEI>
